name: Lint Checks

on:
  push:
    branches:
      - 'main'
    paths-ignore:
      - 'docs/**'
  pull_request:
    branches:
      - '**'
    paths-ignore:
      - 'docs/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  format-checks:
    name: Format & Style Checks
    runs-on: ubuntu-latest
    container:
      image: px4io/px4-dev:v1.16.0-rc1-258-g0369abd556
    strategy:
      fail-fast: false
      matrix:
        check: [
          "check_format",
          "check_newlines",
          "shellcheck_all",
          "validate_module_configs",
        ]
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Git ownership workaround
        run: git config --system --add safe.directory '*'

      - name: Running [${{ matrix.check }}]
        run: make ${{ matrix.check }}

  clang-tidy:
    name: Clang Tidy
    runs-on: ubuntu-latest
    container:
      image: px4io/px4-dev-clang:2021-09-08
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Git ownership workaround
        run: git config --system --add safe.directory '*'

      - name: Running clang-tidy
        run: make clang-tidy

  python-checks:
    name: Python CI Checks
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install Python3
        run: sudo apt-get install python3 python3-setuptools python3-pip -y

      - name: Install tools
        run: python3 -m pip install mypy types-requests flake8 --break-system-packages

      - name: Check MAVSDK test scripts with mypy
        run: $HOME/.local/bin/mypy --strict test/mavsdk_tests/*.py

      - name: Check MAVSDK test scripts with flake8
        run: $HOME/.local/bin/flake8 test/mavsdk_tests/*.py
