name: SITL Tests

on:
  push:
    branches:
      - 'main'
    paths-ignore:
      - 'docs/**'
  pull_request:
    branches:
      - '**'
    paths-ignore:
      - 'docs/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  sitl-tests:
    name: SITL ${{ matrix.config.model }}
    runs-on: frank_private_runner
    container:
      image: px4io/px4-dev-simulation-focal:2021-09-08
      options: --privileged --ulimit core=-1 --security-opt seccomp=unconfined
    strategy:
      fail-fast: false
      matrix:
        config:
          - {model: "iris",          latitude: "59.617693",  longitude: "-151.145316", altitude: "48",  build_type: "RelWithDebInfo"}  # Alaska
          - {model: "tailsitter",    latitude: "29.660316",  longitude: "-82.316658",  altitude: "30",  build_type: "RelWithDebInfo"}  # Florida
          - {model: "standard_vtol", latitude: "47.397742",  longitude: "8.545594",    altitude: "488", build_type: "Coverage"}        # Zurich
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Git Ownership Workaround
        run: git config --system --add safe.directory '*'

      - id: set-timestamp
        name: Set timestamp for cache
        run: echo "timestamp=$(date +"%Y%m%d%H%M%S")" >> $GITHUB_OUTPUT

      - name: Cache Restore
        uses: actions/cache@v4
        with:
          path: ~/.ccache
          key: sitl-ccache-${{ matrix.config.model }}-${{ steps.set-timestamp.outputs.timestamp }}
          restore-keys: |
            sitl-ccache-${{ matrix.config.model }}-
            sitl-ccache-

      - name: Configure ccache
        run: |
          mkdir -p ~/.ccache
          echo "base_dir = ${GITHUB_WORKSPACE}" > ~/.ccache/ccache.conf
          echo "compression = true" >> ~/.ccache/ccache.conf
          echo "compression_level = 6" >> ~/.ccache/ccache.conf
          echo "max_size = 120M" >> ~/.ccache/ccache.conf
          echo "hash_dir = false" >> ~/.ccache/ccache.conf
          ccache -s
          ccache -z

      - name: Build PX4
        env:
          PX4_CMAKE_BUILD_TYPE: ${{ matrix.config.build_type }}
        run: make px4_sitl_default

      - name: Build SITL Gazebo
        env:
          PX4_CMAKE_BUILD_TYPE: ${{ matrix.config.build_type }}
        run: make px4_sitl_default sitl_gazebo-classic

      - name: Download MAVSDK
        run: wget "https://github.com/mavlink/MAVSDK/releases/download/v$(cat test/mavsdk_tests/MAVSDK_VERSION)/libmavsdk-dev_$(cat test/mavsdk_tests/MAVSDK_VERSION)_ubuntu20.04_amd64.deb"

      - name: Install MAVSDK
        run: dpkg -i "libmavsdk-dev_$(cat test/mavsdk_tests/MAVSDK_VERSION)_ubuntu20.04_amd64.deb"

      - name: Build MAVSDK tests
        env:
          PX4_CMAKE_BUILD_TYPE: ${{ matrix.config.build_type }}
          DONT_RUN: 1
        run: make px4_sitl_default sitl_gazebo-classic mavsdk_tests

      - name: Core Dump Settings
        run: |
          ulimit -c unlimited
          echo "`pwd`/%e.core" > /proc/sys/kernel/core_pattern

      - name: Run SITL / MAVSDK Tests
        env:
          PX4_HOME_LAT: ${{ matrix.config.latitude }}
          PX4_HOME_LON: ${{ matrix.config.longitude }}
          PX4_HOME_ALT: ${{ matrix.config.altitude }}
          PX4_CMAKE_BUILD_TYPE: ${{ matrix.config.build_type }}
        run: test/mavsdk_tests/mavsdk_test_runner.py --speed-factor 10 --abort-early --model ${{ matrix.config.model }} --upload test/mavsdk_tests/configs/sitl.json --verbose --force-color
        timeout-minutes: 45

      - name: Upload failed logs
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: sitl-failed-${{ matrix.config.model }}-logs
          path: |
            logs/**/**/**/*.log
            logs/**/**/**/*.ulg
            build/px4_sitl_default/tmp_mavsdk_tests/rootfs/log/**/*.ulg

      - name: Analyze Core Dump
        if: failure()
        run: |
          if [ -f px4.core ]; then
            gdb build/px4_sitl_default/bin/px4 px4.core -ex "thread apply all bt" -ex "quit"
          fi

      - name: Upload PX4 coredump
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: coredump-${{ matrix.config.model }}
          path: px4.core
          if-no-files-found: ignore

      - name: Generate Coverage Report
        if: contains(matrix.config.build_type, 'Coverage')
        run: |
          mkdir -p coverage
          lcov --directory build/px4_sitl_default --base-directory build/px4_sitl_default --gcov-tool gcov --capture -o coverage/lcov.info

      - name: Upload Coverage to Codecov
        if: contains(matrix.config.build_type, 'Coverage')
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          flags: sitl
          file: coverage/lcov.info
