name: Unit Tests

on:
  push:
    branches:
      - 'main'
    paths-ignore:
      - 'docs/**'
  pull_request:
    branches:
      - '**'
    paths-ignore:
      - 'docs/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  unit-tests:
    name: Unit Tests
    runs-on: frank_private_runner
    container:
      image: px4io/px4-dev:v1.16.0-rc1-258-g0369abd556
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Git ownership workaround
        run: git config --system --add safe.directory '*'

      - name: Run tests
        run: make tests

  module-documentation:
    name: Module Documentation
    runs-on: frank_private_runner
    container:
      image: px4io/px4-dev:v1.16.0-rc1-258-g0369abd556
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Git ownership workaround
        run: git config --system --add safe.directory '*'

      - name: Validate Module Documentation
        run: make module_documentation
